<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<b>Users:</b>

{{#each users}}

    <div class="users">
        Name: {{this.name}} <br>
        Age: {{this.age}}   <br>
        Email: {{this.email}}   <br>
        Login: {{this.login}}   <br>
        Password: {{this.password}}
    </div>

{{/each}}

</body>
</html>